# Make sure .vscode and its contents are not uploaded
.vscode/*

*.exe
*.exe.config
*.zip

Ansys PrepPost Install (Ansys Workbench)/Toolkit/Files/*
Ansys FluidStructures Add-In Install/Toolkit/Files/*
Ansys GRANTA EduPack Install/Toolkit/Files/*
Ansys Electronics Install (AnsysEM)/Toolkit/Files/*